@charset "UTF-8"


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');






*{
    margin: 0px;
    border: 0px;
}
body{
    background-color: #f6f2e9;
}
header{
    background-color: #5c5c5c;
    color: white;
    padding: 20px;
    text-align: center;
}
header>h1>a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    margin: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
p{
    text-align: center;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}
input, .botao-reservar{
    border: 1px solid rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    padding: 10px;
    margin: auto ;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 5px;
   
   
}
.botao-reservar{
    color: rgb(255, 255, 255);
    background-color: black;
    width: 25%;
    
}



/* Container do slide */
.content {
    height: 700px;
    width: 100%;
    max-width: 935px;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
    position: relative;
    overflow-x: hidden;
  }
  
  /* Navegação dos slides (bolinhas/barras) */
  .navigation {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  /* Estilo da barra de navegação */
  .bar {
    width: 80px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .6s;
  }
  
  .bar:hover {
    background-color: #fff;
  }
  
  input[type="radio"] {
    display: none;
 }
  
  /* Container geral dos slides */
  .slides {
    display: flex;
    width: 500%;
    height: 100%;
  }
  
  /* Slide individual */
  .slide {
    width: 20%;
    transition: .16s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Posicionamento dos slides com radio button */
  #slide1:checked ~ .s1 {
    margin-left: 0;
  }
  
  #slide2:checked ~ .s1 {
    margin-left: -20%;
  }
  
  #slide3:checked ~ .s1 {
    margin-left: -40%;
  }
  
  #slide4:checked ~ .s1 {
    margin-left: -60%;
  }
  

/*menu abaixo*/

#menu-recolhivel {
    display: none;
}

/* Botão de abrir (fixo na tela) */
.menu-btn{
    position: fixed; /* Fixa o botão na tela */
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: #222;
    z-index: 9999; /* Mantém sempre acima */
}

/* Menu lateral */
.menu {
    position: fixed;
    top: 0;
    left: -290px;
    width: 250px;
    height: 100vh;
    background-color: #222;
    color: white;
    padding: 20px;
    transition: opacity 3s ease-in-out;
    

}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu li {
    padding: 15px 0;
    border-bottom: 1px solid #444;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Botão de fechar */
.fechar-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
/* Mostrar o menu quando o checkbox estiver marcado */
#menu-recolhivel:checked + .menu {
    left: 0;
}
/*menu acima*/
footer{
    margin: 20px;
}


  /* slide Responsividade para telas menores */
  @media (max-width: 768px) {
    .content {
     height: auto;
      width: 90%;
      top: 4px;
      bottom: 80px;
      aspect-ratio: 4 / 3;
      margin: 40px auto;
      
    }
  
    .bar {
      width: 50px;
    }
  
    #slide1:checked ~ .s1 {
      margin-left: 0;
    }
  
    #slide2:checked ~ .s1 {
      margin-left: -20%;
    }
  
    #slide3:checked ~ .s1 {
      margin-left: -40%;
    }
  
    #slide4:checked ~ .s1 {
      margin-left: -60%;
    }
  
    .navigation {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
      z-index: 10;
    }
  
  }

